.onboading {
  .onboarding-step {
    background-image: url("../../img/onboarding/register.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
  }

  .step1 {
    background-image: url("../../img/onboarding/register.jpg");
  }

  .step2 {

  }

  .step3 {

  }

  .step4 {

  }

  .step5 {

  }
}
