// http://ionicframework.com/docs/v2/theming/


// App Shared Imports
// --------------------------------------------------
// These are the imports which make up the design of this app.
// By default each design mode includes these shared imports.
// App Shared Sass variables belong in app.variables.scss.

@import "app.ionic.overwrites";
@import "tools/tools";

@import "fonts/default-fonts";
@import "fonts/iconsmind";

@import "components/theme";
@import "components/btn";
@import "components/workout-lists";

@import "../pages/auth/sign-up/sign-up";
@import "../pages/auth/forgot-password/forgot-password";
@import "../pages/auth/onboarding/onboading";
@import "../pages/auth/terms-of-service/terms-of-service";
@import "../pages/home/home";

body {
  font-family: 'Open Sans', sans-serif;
  color: #767676;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: 700;
}

.background {
  background-image: url("../../img/welcome-dark.jpg");
  background-color: #111;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 71% 50%;
  height: 100%;
  color: #fff;
  text-align: center;
}

.question-headline {
  width: 70%;
  color: #fff;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  padding: 60px 0 20px;
}

.question-text {
  width: 70%;
  margin: 0 auto 40px;
  color: #fff;
  font-size: 16px;
  text-align: center;
}

.question-input {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 0;
  font-size: 16px;
  color: #fff;
  border: none;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: left;
  line-height: 1;
  border-bottom: 0 none!important;
  border-radius: 3px;

  ion-label {
    color: #fff;
    padding-left: 6px;
  }

  ion-input {
    padding-left: 16px;
    text-align: right;
  }

  input {
    margin: 0;
    padding: 0;
    text-align: right;
  }

  .item-inner {
    border: 0 none!important;
  }
}

.widebutton {
  display: block;
  width: 90%;
  margin: 15px auto;
  padding: 22px 5px;
  font-size: 16px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
}

.fb-blue {
  background-color: #3b5998;
}