.btn {
  position: relative;
  margin: 0 auto 20px;
  font-family: 'Open Sans';
  font-weight: 400;
  border-radius: 3px;
  padding: 12px 0;
  width: 100%;
  //background: color($colors, primary);
  background-color: rgba(0,0,0,0.3);
  //background-color: rgba(255,255,255,0.3);
  font-size: 16px;
  text-shadow: 0 0 80px rgba(0,0,0,.2);
  text-align: center;

  &.btn-checked {
    background-color: rgba(0, 209, 101, 1);
    background-color: rgba(0, 209, 101, .6);

    i {
      display: inline-block;
    }
  }

  i {
    display: none;
    position: absolute;
    left: 20px;
    margin-top: 4px;
  }
}

.btn-footer {
  position: absolute;
  bottom: 0;
  margin: 0;
  background: color($colors, primary);
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  font-size: 18px;
  color: #fff;
  border-radius: 0;
}