.workout-opener {
  position: relative;
  width: 100%;
  height: 100%;

  ion-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::before {
      @include linear-gradient(rgba(0,0,0,0.0), rgba(0,0,0,0.5));
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      //background-color: rgba(0,0,0,0.3);
    }
  }

  .img-overlay {
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 100%;
    padding: 25% 10%;

    h1 {
      margin: 40% auto 0;
      color: #fff;
      font-size: 50px;
      text-align: center;
      text-shadow: 0 0 40px rgba(0,0,0,.6);
    }

    .workout-info {
      margin: 20px 0;
      font-size: 16px;
      color: #fff;
      text-align: center;
    }
  }
}